/* CSS Variables */
:root {
  --color-ice-cold: #c5c6c7;
  --color-primary: #66fcf1;
  --color-primary-heavy: #45a29e;
  --color-bg: #0b0c10;
  --color-bg-secondary: #1f2833;
  --color-text: white;
  --color-text-black: black;
}
/* Global Styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  background-color: var(--color-bg);
  background-image: url(./images/blob.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  color: var(--color-text);
  border: 2px solid var(--color-primary);
  padding: 0.4rem;
  border-radius: 0.1rem;
  outline: none;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-weight: 700;
}
button:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: inherit;
}
p {
  text-wrap: pretty;
  font-size: 1.125rem;
  max-inline-size: 65ch;
}
h1 {
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
/* Header */
.header {
  padding: 5px 2rem;
  display: flex;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header .logo i.logo-icon {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-primary);
}
/* Main */
.main {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: row-reverse wrap;
  padding: 5px 2rem;
  gap: 1rem;
}
.main .cards-wrapper {
  flex: 4 1 900px;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.main .cards-wrapper .card {
  max-height: 300px;
  --bg-filter-opacity: 0.5;
  background: linear-gradient(135deg, #0b0c10 10%, #1f2833, #0b0c10),
    var(--color-bg-secondary);
  display: grid;
  place-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
}
.main .cards-wrapper .card .inner-card {
  background-color: #0c1014;
  width: 100%;
  height: 100%;
  border-radius: calc(1rem - 4px);
}
/* Library Info */
.main .library-info {
  flex: 1 0 250px;
  display: flex;
  flex-flow: column wrap;
}
.main .library-info .library-info-main {
  padding: 1rem;
}
